/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

:root {
  --map-tiles-filter: brightness(0.5) invert(1) contrast(5) hue-rotate(200deg)
    saturate(0.3) brightness(0.6);
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter: var(--map-tiles-filter, none);
  }
}
